{% extends "touchtechnology/content/admin/base.html" %}
{% load cycle from future %}
{% load i18n common %}

{% block body_class %}content pages{% endblock %}

{% block content %}
	<div class="box">
		<h1>{% trans "Applications" %}</h1>

		<table>
			<thead>
				<tr>
					<th>{% trans "Component" %}</th>
					<th>{% trans "Version" %}</th>
					{% if user.is_superuser %}
						<th colspan="2">{% trans "Registry" %}</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for object in object_list %}
					<tr id="application_{{ object.pk }}" class="{% if forloop.first %}first {% endif %}{% cycle odd,even %}{% if forloop.last %} last {% endif %}{% if not object.nodes.count %} inactive{% endif %}{% if not object.callable %} not_installed{% endif %}">
						<td class="title placeholder">{{ object.module.NAME }}</td>
						<td>{{ object.module.get_version }}</td>
						{% if user.is_superuser %}
							<td>#{{ object.pk }}</td>
							<td>{{ object.path }}</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
