{% extends "touchtechnology/content/admin/base.html" %}
{% load url from future %}
{% load i18n %}
{% load mptt_tags %}

{% block content %}
	<h1>{% trans "Folders" %}</h1>

	{% spaceless %}
		{% for sitemapnode, structure in object_list|tree_info %}
			{% if structure.new_level %}
				<ul>
			{% else %}
				</li>
			{% endif %}
			<li id="node{{ sitemapnode.id }}" class="{% if not sitemapnode.is_leaf_node %}has_children {% endif %}{% if structure.closed_levels %} last{% endif %}">

			{% if not sitemapnode.object %}
				<a href="{% url 'admin:content:edit-folder' sitemapnode.id %}">{{ sitemapnode }}</a>
			{% else %}
				<span class="{% if sitemapnode.object %}disabled{% endif %}">{{ sitemapnode }}</span>
			{% endif %}
			
			{% for level in structure.closed_levels %}
				</li></ul>
			{% endfor %}
		{% endfor %}
	{% endspaceless %}

	<div class="buttons">
		<a href="{% url 'admin:content:add-folder' %}">{% trans "Add folder" %}</a>
	</div>
{% endblock %}
